#lblusu{
	margin-left: 5%;
	margin-top: -10%;
	color: #004499;
}
#lblcontra{
	color: #004499;
}
#logocutonala{
	width: 15%;
	margin-left: 5%;
}
#btningresar{
	background-color: #004499;
	color: white;
}
